[Unit]
Description=Setup RoninDojo Motd
After=oem-boot.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/motd-setup.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
