[Unit]
Description=Ronin OEM Fast
After=armbian-firstrun.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/ronin-oem-fast.sh
ExecStartPost=/usr/local/sbin/ronin-oem-teardown.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
