[Unit]
Description=Setup RoninDojo
After=avahi-daemon.service
Wants=oem-boot.service network-online.target

[Service]
Type=simple
User=admin
WorkingDirectory=/home/admin
ExecStart=/usr/local/sbin/ronin-setup.sh
ExecStop=/usr/bin/pm2 resurrect
StandardOutput=file:/home/ronindojo/.logs/setup.logs
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
