[Unit]
Description=Setup RoninDojo
After=oem-boot.service network-online.target
Wants=network-online.target

[Service]
Type=simple
User=admin
WorkingDirectory=/home/admin
ExecStart=/usr/local/sbin/ronin-setup.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
