[Unit]
Description=Post RoninDojo Setup
After=oem-boot.service network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/sbin/ronin-post.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target