[Unit]
Description=Setup RoninDojo
After=network-online.target 
Wants=oem-boot.service avahi-daemon.service

[Service]
Type=simple
User=admin
WorkingDirectory=/home/admin
ExecStart=/usr/local/sbin/ronin-setup.sh
ExecStop=/usr/bin/pm2 resurrect
StandardOutput=journal
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
